@import "tailwindcss";

@theme {
  --color-primary: #4a5685;
  --color-secondary: #bcda8a;
  --color-accent: #ef5446;
  --color-accent-light: #f2d473;
  --color-light: #f8f9fa;

  --color-txt-primary: #1a1a1a;
  --color-txt-secondary: #6c757d;
  --color-txt-muted: #868e96;
}

html {
  font-family: "Inter", system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-light text-txt-primary m-0 min-h-screen;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  @apply m-0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  @apply w-[20px] h-[20px] rounded-full bg-primary shadow-md appearance-none;
}
:hover.range-slider::-webkit-slider-thumb {
  @apply bg-primary/70 cursor-pointer transition-colors duration-300;
}
:active.range-slider::-webkit-slider-thumb {
  @apply cursor-grabbing duration-300 scale-110;
}

.range-slider::-moz-range-thumb {
  @apply w-[20px] h-[20px] rounded-full bg-primary shadow-md appearance-none;
}
:hover.range-slider::-moz-range-thumb {
  @apply bg-primary/70 cursor-pointer transition-colors duration-300;
}
:active.range-slider::-moz-range-thumb {
  @apply cursor-grabbing duration-300 scale-110;
}
